<div class="container-fluid container-main" ng-controller="AboutController" ng-init="callSetActions()">
	<div id="info" style="align:center;">

		<div id="info_profile" class="info-container">
			<h2 class="info-header">Profile</h2>
			<div class="info-inner">
				<b>Name:</b> Andrew Rose<br />
				<b>Birthday:</b> March 25, 1988<br />
				<b>Location:</b> Boulder, CO<br />
				<b>Hometown:</b> Issaquah, WA<br />
				<b>Occupation:</b> Cloud Engineer at Medallia<br />
				<b>Education:</b> Bachelors in Computer Science at Central Washington University
			</div>
		</div>
		
		<div id="info_snowboard" class="info-container">
			<h2 class="info-header">Snow</h2>
			<div class="info-inner">
				Since 1991<br />
				<img id="img_snow" class="img-responsive" src="public/img/pictures/snowboard.bmp" /><br />
				Let me know if you want to go ride or learn!<br />
				<img id="img_snow" class="img-responsive" src="public/img/logos/epicLogo.png" />
			</div>
		</div>
		
		<div id="info_music" class="info-container">
			<h2 class="info-header">Music</h2>
			<div class="info-inner">
				DJ Since 2007<br />
				Producing Since 2015<br />
				<img id="img_dj" class="img-responsive" src="public/img/logos/steezifyLogo.png" /><br />
				<b><u>Gear</u></b><br />
				Numark Mixtrack Pro II<br />
				Akai APC 40<br />
				Akai MPD 25<br />
				Akai MPK 25<br />
				<br />
				Check me out on the following platforms!<br />
				<button onclick='window.open("https://soundcloud.com/steezify");' class="btn-info">
					<a href="https://soundcloud.com/steezify" target="_blank">Soundcloud</a>
				</button>
				<button onclick='window.open("https://www.facebook.com/Steezify");' class="btn-info">
					<a href="https://www.facebook.com/Steezify" target="_blank">Facebook</a>
				</button>
				<button onclick='window.open("https://www.mixcloud.com/steezify/");' class="btn-info">
					<a href="https://www.mixcloud.com/steezify/" target="_blank">Mixcloud</a>
				</button>
			</div>
		</div>
		
		<div id="info_sports" class="info-container">
			<h2 class="info-header">Sports</h2>
			<div class="info-inner">
				<img class="img-sports" id="img_hawks" src="./public/img/logos/seahawksLogo.png" />
				<img class="img-sports" id="img_sounders" src="./public/img/logos/soundersLogo.png" />
				<img class="img-sports" id="img_wsu" src="./public/img/logos/wsuLogo.png" />
			</div>
		</div>
		
		<div id="info_gaming" class="info-container">
			<h2 class="info-header">Gaming</h2>
			<div class="info-inner">
				<img id="img_xbox" src="./public/img/logos/xboxLogo.png" /><br />
				Gamertag: <span class="badge">meleemassacre</span>
			</div>
		</div>
	</div>
</div>