<link rel="stylesheet" href="/public/css/jplayer_overrides.css">
<link rel="stylesheet" type="text/css" href="/public/js/jplayer/dist/skin/midnight.stars/css/jplayer.midnight.stars.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">

<div class="container-fluid container-main"
     ng-controller="MusicController" 
     ng-init="callSetActions()">

	<button id="music-nav-toggle" ng-click="toggleNav()" class="sm-primary navbar-toggle" hide-gt-sm>
     	<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

 	<section layout="row" flex>

 		<!-- Inner navigation menu -->
 		<md-sidenav
 			id="music-sidenav"
			class="md-sidenav-left"
		    md-component-id="left"
		    md-is-locked-open="$mdMedia('gt-sm')"
		    md-whiteframe="4"
		    style="min-width: 270px;">
	    	<md-toolbar class="md-theme-light-blue">
	        	<h1 class="md-toolbar-tools" id="music-nav-title">Steezify Tracks</h1>
      		</md-toolbar>
      		<md-content id="music-sidenav-content" layout-padding ng-controller="MusicNavController" style="min-width: 250px;">
      			<md-button type="button" class="music-menu-btn" data-toggle="collapse" data-target="#music-menu-tracks">Tracks</md-button>
  				<div id="music-menu-tracks" class="collapse">
  					<md-button class="music-menu-item" id="music-menu-bananeurysm" href="/music/?track=bananeurysm" class="md-primary">
	      				Bananeurysm
	      			</md-button>
  					<md-button class="music-menu-item" id="music-menu-footprints" href="/music/?track=footprints" class="md-primary">
	      				Footprints
	      			</md-button>
  					<md-button class="music-menu-item" id="music-menu-sos" href="/music/?track=sos" class="md-primary">
	      				Avicii - SOS (Steezify Remix)
	      			</md-button>
	      			<md-button class="music-menu-item" id="music-menu-devil" href="/music/?track=devil" class="md-primary">
	      				Grace Gracie Ft. Bre - Devil (Steezify Remix)
	      			</md-button>
	      			<md-button class="music-menu-item" id="music-menu-overandover" href="/music/?track=overandover" class="md-primary">
	      				Luke Anders & AElectriX - Over And Over (Steezify Remix)
	      			</md-button>
		    	</div>
		    	<md-button type="button" class="music-menu-btn" data-toggle="collapse" data-target="#music-menu-mixes">Mixes</md-button>
  				<div id="music-menu-mixes" class="collapse">
  					<md-button class="music-menu-item" id="music-menu-mhms050" href="/music/?track=mhms050" class="md-primary">
	      				Monday House Music Social 050
	      			</md-button>
	      			<md-button class="music-menu-item" id="music-menu-mixwed" href="/music/?track=mixwed" class="md-primary">
	      				DHM Mix Wednesday
	      			</md-button>
  				</div>
  				<md-button type="button" class="music-menu-btn" data-toggle="collapse" data-target="#music-menu-shows">Shows</md-button>
  				<div id="music-menu-shows" class="collapse">
  					<md-button class="music-menu-item" id="music-menu-reset" href="/music/?track=reset" class="md-primary">
	      				Reset Campout
	      			</md-button>
  					<md-button class="music-menu-item" id="music-menu-kinetik" href="/music/?track=kinetik" class="md-primary">
	      				Kinetik 1 Year @ Black Box 2018
	      			</md-button>
  					<md-button class="music-menu-item" id="music-menu-fdgd2018" href="/music/?track=fdgd2018" class="md-primary">
	      				Frozen Dead Guy Days 2018
	      			</md-button>
  				</div>
  				<hr>
      			<md-button ng-click="close()" class="md-primary" hide-gt-sm>
		          	Close Menu
		        </md-button>
	    	</md-content>
		</md-sidenav>

		<!-- Media player -->
		<div id="music_player_container" class="jp-video" role="application">
			<!-- Cover Art -->
			<div class="album-cover">
				<img id="music-cover-art" />
			</div>
			<div class="audio-embed" id="music-audio-embed"></div>
			<div class="jp-type-playlist"></div>
			<br />
			<br />
		</div>
	</section>
</div>