<div class="container-fluid container-main" ng-controller="MusicController" ng-init="callSetActions()">
	<div id="info" style="align:center;">
		<div id="info_soundcloud" class="info-container">
			<img class="info-icon" src="public/img/logos/soundcloud.png" />
			<div class="info-inner">
				<iframe 
					width="100%" 
					height="450" 
					scrolling="no" 
					frameborder="no" 
					src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1478869&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
				</iframe>
			</div>
		</div>
		
		<div id="info_mixcloud" class="info-container">
			<img class="info-icon" src="public/img/logos/mixcloud.png" />
			<div class="info-inner">
				<iframe 
					width="100%" 
					height="180" 
					src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fsteezifyme%2F&hide_cover=1" 
					frameborder="0">
				</iframe>
			</div>
		</div>
		
		<div id="info_bootleg1" class="info-container">
			<img class="info-icon" src="public/img/covers/GDFRound1.jpg" />
			<div class="info-inner">
				<audio controls>
					<source src="public/music/01 GDF Contest Round 1.mp3" type="">
				</audio>
			</div>
		</div>
		
		<div id="info_bootleg2" class="info-container">
			<img class="info-icon" src="public/img/covers/Paradiso2015.jpg" />
			<div class="info-inner">
				<audio controls>
					<source src="public/music/01 Paradiso 2015 Headliners Minimix.mp3" type="">
				</audio>
			</div>
		</div>
		
		<div id="info_release" class="info-container">
			<img class="info-icon" src="public/img/covers/SummerDrive.jpg" />
			<div class="info-inner">
				<audio controls>
					<source src="public/music/01 Summer Drive.mp3" type="">
				</audio>
			</div>
		</div>
	</div>
</div>