.carousel
{
	margin-top: 100px;
	text-align:center;
}

.carousel-inner 
{
	margin:auto;
	width:60%;
}

.carousel-inner > .item
{
	min-height:400px;
	margin:auto;	
	text-align:left;
}

.carousel-inner > .item > img
{
	max-height:200px;
	max-width:60%;
}

.carousel-indicators
{
	position:fixed;
	top:50px;
	max-height:75px;
	width:90%;
	left:35%;
	z-index:5;
	padding-top:25px;
	background-color:black;
}

.carousel-indicators > li 
{
	height:30px;
	width:30px;
	text-align: center;
	z-index:15;
}

.carousel-indicators > li:hover
{
	height:35px;
	width:35px;
}

.carousel-indicators > li > img
{
	display: block;
	margin-left: 1px;
	width:26px;
	height:26px;
}

.carousel-indicators > li > img:hover
{
	height:30px;
	width:30px;
}

.carousel-indicators > .active
{
	height:30px;
	width:30px;
	border-bottom: 3px solid #333;
	border-radius:0;
}

.carousel-control
{
	position: fixed;
	z-index: 10;
}
