<link rel="stylesheet" href="/public/css/jplayer_overrides.css">
<link rel="stylesheet" type="text/css" href="/public/js/jplayer/dist/skin/midnight.stars/css/jplayer.midnight.stars.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">

<div class="container-fluid container-main" 
     ng-controller="MashifyChroniclesController" 
     ng-init="callSetActions()">

	<button id="mc-nav-toggle" ng-click="toggleNav()" class="sm-primary navbar-toggle" hide-gt-sm>
		<span class="sr-only">Toggle Navigation</span>
     	<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

<!-- TODO: Cool background for the title -->
<!-- TODO: Change the Chronicles menu button color to not be the same as the main one -->

 	<section layout="row" flex>

 		<!-- Inner navigation menu -->
 		<md-sidenav
 			id="mc-sidenav"
			class="md-sidenav-left"
		    md-component-id="left"
		    md-is-locked-open="$mdMedia('gt-sm')"
		    md-whiteframe="4"
		    style="min-width: 270px;">
	    	<md-toolbar class="md-theme-light-blue">
	        	<h1 class="md-toolbar-tools" id="mc-nav-title">Mashify Chronicles</h1>
      		</md-toolbar>
      		<md-content layout-padding ng-controller="MCNavController" style="min-width: 250px;">
  				<md-button type="button" data-toggle="collapse" data-target="#mc-menu-season-1">Season 1</md-button>
  				<div id="mc-menu-season-1" class="collapse">
  					<md-button id="mc-menu-1-1" href="/mashifychronicles/?season=1&episode=1" class="md-primary">
	      				Episode 1 - The Underground
	      			</md-button>
	      			<md-button id="mc-menu-1-2" href="/mashifychronicles/?season=1&episode=2" class="md-primary">
	      				Episode 2 - Trouble
	      			</md-button>
	      			<md-button id="mc-menu-1-3" href="/mashifychronicles/?season=1&episode=3" class="md-primary">
	      				Episode 3 - The Machine
	      			</md-button>
	      			<md-button id="mc-menu-1-4" href="/mashifychronicles/?season=1&episode=4" class="md-primary">
	      				Episode 4 - Great Escape
	      			</md-button>
	      			<md-button id="mc-menu-1-5" href="/mashifychronicles/?season=1&episode=5" class="md-primary">
	      				Episode 5 - Going Down
	      			</md-button>
				</div>
				<hr>
      			<md-button ng-click="close()" class="md-primary" hide-gt-sm>
		          	Close Menu
		        </md-button>
	    	</md-content>
		</md-sidenav>

<!-- TODO: Fix the player buttons on small screens to not suck -->

		<!-- Media player -->
		<div id="mc_player_container" class="jp-video" role="application">
			<!-- Cover Art -->
			<div class="album-cover">
				<img id="mc-cover-art" />
			</div>
			<div class="jp-type-playlist">
				<div id="mc_player" class="jp-jplayer" style="display: block; margin: 0 auto"></div>
				<div class="jp-gui">
					<div class="jp-interface">
						<div class="jp-progress" id="mc-progress">
							<div class="jp-sync-bar">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
						</div>
						<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
						<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
						<div class="jp-controls-holder">
							<div class="jp-controls">
								<button class="jp-previous" role="button" tabindex="0">previous</button>
								<button class="jp-play" role="button" tabindex="0">play</button>
								<button class="jp-next" role="button" tabindex="0">next</button>
								<button class="jp-stop" role="button" tabindex="0">stop</button>
							</div>
							<div class="jp-volume-controls">
								<button class="jp-mute" role="button" tabindex="0">mute</button>
								<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
								<div class="jp-volume-bar">
									<div class="jp-volume-bar-value"></div>
								</div>
							</div>
							<div class="jp-toggles">
								<button class="jp-repeat" role="button" tabindex="0">repeat</button>
								<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
							</div>
						</div>
						<div class="jp-details">
							<div class="jp-title" aria-label="title">&nbsp;</div>
						</div>
					</div>
				</div>
				<div class="jp-playlist">
	    			<ul>
	      				<li></li> <!-- Empty <li> so your HTML conforms with the W3C spec -->
	    			</ul>
	  			</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media, you will need to either update your browser to a recent version or update your Flash plugin.
				</div>
				<div id="mc-story-container">
					<div id="mc-story-title" style="font-family: 'Yesteryear', cursive; font-size: 35px;"></div>
					<div id="mc-story-content"></div>
				</div>
			</div>
		</div>
	</section>
</div>