<div class="container-fluid container-main" ng-controller="InfoController">
	<div class="row">
		<div class="col-md-4"></div>
		<div id="info_container" class="col-md-4">
			<h2>General Information</h2>
			<br />
			<b>Name:</b> Andrew Rose
			<br />
			<b>Email:</b> <a href="mailto:andy.rose2588@gmail.com">andy.rose2588@gmail.com</a>
			<br />
			<b>Github:</b> <a href="https://github.com/Andy--Rose">Andy--Rose</a>
			<br />
			<b>Phone:</b> (425) 829-8127
			<br />
			<b>Locale:</b> Boulder, CO
			<br />
			<br />
			<b>School:</b> Central Washington University
			<br />
			<b>Degree:</b> Bachelors in Computer Science
			<br />
			<br />
			<a target="_blank" href="http://www.linkedin.com/pub/andy-rose/39/576/902">
					<img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" 
				   width="160" height="33" border="0" 
				   alt='View Andy Rose's profile on LinkedIn">
				</a>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div id="skill_container" class="col-md-4">
			<div id="skills" class="infoText">
				<h2>Skills</h2>
				<u><b>Full Stack Development</b></u>
				<br />
				<span class="badge">C#</span>
				<span class="badge">Java</span>
				<br /><br />
				<u><b>Backend Development</b></u>
				<br />
				<span class="badge">GO</span>
				<span class="badge">C++</span>
				<br /><br />
				<u><b>Frontend Development</b></u>
				<br />
				<span class="badge">JavaScript</span>
				<span class="badge">Java</span>
				<span class="badge">C#</span>
				<span class="badge">VB</span>
				<br /><br />
				<u><b>Web Development</b></u>
				<br />
				<span class="badge">HTML</span>
				<span class="badge">CSS</span>
				<span class="badge">JavaScript</span>
				<span class="badge">Spring MVC</span>
				<span class="badge">ASP.NET MVC</span>
				<br /><br />
				<u><b>JavaScript Libraries</b></u>
				<br />
				<span class="badge">JQuery</span>
				<span class="badge">ReactJS</span>
				<span class="badge">AngularJS</span>
				<span class="badge">Bootstrap</span>
				<span class="badge">Highcharts</span>
				<span class="badge">D3.js</span>
				<span class="badge">Gridster.js</span>
				<br /><br />
				<u><b>Graphic Animation</b></u>
				<br />
				<span class="badge">C++ using OpenGL</span>
				<br /><br />
				<u><b>Computer Vision</b></u>
				<br />
				<span class="badge">Matlab</span>
				<span class="badge">C#</span>
				<br /><br />
				<u><b>Database Systems</b></u>
				<br />
				<span class="badge">PostgreSQL</span>
				<span class="badge">SQL</span>
				<span class="badge">Access (OLEBD)</span>
				<span class="badge">RavenDB</span>
				<span class="badge">ElasticSearch</span>
				<span class="badge">Dynamo</span>
				<br /><br />
				<u><b>Scripting</b></u>
				<br />
				<span class="badge">Ruby</span>
				<span class="badge">Python</span>
				<span class="badge">Bash</span>
				<span class="badge">Powershell</span>
				<br /><br />
				<u><b>Infrastructure</b></u>
				<br />
				<span class="badge">AWS</span>
				<span class="badge">Docker</span>
				<span class="badge">VMWare</span>
				<br /><br />
				<u><b>Monitoring</b></u>
				<br />
				<span class="badge">Wavefront</span>
				<span class="badge">CollectD</span>
				<span class="badge">StatsD</span>
				<span class="badge">CloudWatch</span>
				<span class="badge">DataDog</span>
				<span class="badge">Graphite</span>
				<span class="badge">Zabbix</span>
				<br /><br />
				<u><b>Deployment</b></u>
				<br />
				<span class="badge">Chef</span>
				<span class="badge">Puppet</span>
				<span class="badge">Mesos</span>
				<span class="badge">Aurora</span>
				<span class="badge">Jenkins</span>
				<span class="badge">CCNET</span>
				<br /><br />
				<u><b>Version Control</b></u>
				<br />
				<span class="badge">Git</span>
				<span class="badge">SVN</span>
				<br /><br />
				<u><b>Other</b></u>
				<br />
				<span class="badge">SumoLogic</span>
				<span class="badge">Visual Studio</span>
				<span class="badge">Linux</span>
				<span class="badge">Microsoft Server 2008/2012</span>
				<span class="badge">Agile Scrum</span>
				<span class="badge">JIRA</span>
				<span class="badge">Confluence</span>
				<br />
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>