<div class="home-bg" ng-contoller="HomeController">
	<div id="home_container" class="container-fluid">
		<div id="phone_headroom" class="visible-xs"></div>
		<div id="container_profile_img" class="text-center">
			<img id="img_profile" class="img-circle img-responsive" src="public/img/pictures/Cali2.jpg" />
		</div>
		<div class="header text-center">
			<img id="img_title" class="img-responsive" src="public/img/pictures/steezify_logo_vector_filled_white.svg" />
			<h4>DJ/Producer</h4>
		</div>
		<div class="profile-link-container">
			<div class="profile-link">
				<a title="Facebook"
				    href="http://facebook.com/Steezify" 
				    target="_blank">
					<img src="public/img/logos/facebook.png" />
				</a>
			</div>
			<div class="profile-link">
				<a title="Soundcloud"
				   href="https://soundcloud.com/steezify" 
				   target="_blank">
					<img src="public/img/logos/soundcloud.png" />
				</a>
			</div>
			<div class="profile-link">
				<a title="Mixcloud"
				   href="https://www.mixcloud.com/steezify/" 
				   target="_blank">
					<img src="public/img/logos/mixcloud.png" />
				</a>
			</div>
			<div class="profile-link">
				<a title="Instagram"
				   href="https://www.instagram.com/steezify.me/"
				   target="_blank">
					<img src="public/img/logos/instagram.png" />
				</a>
			</div>
			<div class="profile-link">
				<a title="YouTube"
				   href="https://www.youtube.com/channel/UC8kATR4zlKs-4uzxPGhMzCg"
				   target="_blank">
					<img src="public/img/logos/youtube.png" />
				</a>
			</div>
			<div class="profile-link">
				<a title="Fanburst"
				   href="https://fanburst.com/steezify" 
				   target="_blank">
					<img src="public/img/logos/fanburst.png" />
				</a>
			</div>
			<div class="profile-link">
				<a title="Splice"
				   href="https://splice.com/steezify" 
				   target="_blank">
					<img src="public/img/logos/splice.png" />
				</a>
			</div>
		</div>
	</div>		
</div>