<div class="container-fluid container-main" ng-controller="EventsController">
	<div id="events_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
		<ol class="carousel-indicators">
			<li id="btn_es35" data-target="#events_carousel" data-slide-to="0" class="active">
				<img src="public/img/logos/vybe.png">
			</li>
			<li id="btn_es36" data-target="#events_carousel" data-slide-to="1">
				<img src="public/img/logos/vybe.png">
			</li>
			<li id="btn_neon62019" data-target="#events_carousel" data-slide-to="2">
				<img src="public/img/logos/neonbaby.png">
			</li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div id="events_carousel_inner" class="carousel-inner" role="listbox">
			<div id="es35" class="item active">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading"><h3>5/25 Electric Shook 35</h3></div>
						<div class="panel-body">
							<a href="https://www.facebook.com/events/286592075616292/" target="_blank">EVENT LINK</a>
							<img class="event-image" src="public/img/events/20190524-ElectricShook35.png">
						</div>
					</div>
				</div>
			</div>
			<div id="es36" class="item">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading"><h3>5/31 Electric Shook 36</h3></div>
						<div class="panel-body">
							<a href="https://www.facebook.com/events/882408525454412/" target="_blank">EVENT LINK</a>
							<img class="event-image" src="public/img/events/20190531-ElectricShook36_2.png">
						</div>
					</div>
				</div>
			</div>
			<div id="neon62019" class="item">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading"><h3>6/27 Soon Collective @ Neon Baby</h3></div>
						<div class="panel-body">
							More info coming soon
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#events_carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#events_carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>